@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/container-queries';

body {
	scroll-behavior: smooth;
}

@theme {
	--color-cpc-100: #cef5d1;
	--color-cpc-300: #8aea92;
	--color-cpc-500: #54dc60;
	--color-cpc-700: #3cb749;
	--color-cpc-900: #1c842b;

	--color-cpc-analog-100: #bbf2da;
	--color-cpc-analog-300: #4de1aa;
	--color-cpc-analog-500: #00cf84;
	--color-cpc-analog-700: #00ab6a;
	--color-cpc-analog-900: #007845;

	--font-sans: Mulish, ui-sans-serif, system-ui;

	--background-image-choir: url('$lib/img/cpc_konzert_small.webp');

	--grid-template-columns-konzerte: repeat(1, minmax(0, 1fr)) 50px;

	--spacing-0: 0px;
	--spacing-1: 4px;
	--spacing-2: 8px;
	--spacing-3: 12px;
	--spacing-4: 16px;
	--spacing-5: 20px;
	--spacing-6: 24px;
	--spacing-7: 28px;
	--spacing-8: 32px;
	--spacing-9: 36px;
	--spacing-10: 40px;
	--spacing-11: 44px;
	--spacing-12: 48px;
	--spacing-14: 56px;
	--spacing-16: 64px;
	--spacing-20: 80px;
	--spacing-24: 96px;
	--spacing-28: 112px;
	--spacing-32: 128px;
	--spacing-36: 144px;
	--spacing-40: 160px;
	--spacing-44: 176px;
	--spacing-48: 192px;
	--spacing-52: 208px;
	--spacing-56: 224px;
	--spacing-60: 240px;
	--spacing-64: 256px;
	--spacing-72: 288px;
	--spacing-80: 320px;
	--spacing-96: 384px;
	--spacing-px: 1px;
	--spacing-0_5: 2px;
	--spacing-1_5: 6px;
	--spacing-2_5: 10px;
	--spacing-3_5: 14px;
}

@layer base {
	@font-face {
		font-family: 'Mulish';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/Mulish-Medium.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Mulish';
		font-style: italic;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/Mulish-Italic.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Mulish';
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url(/fonts/Mulish-Bold.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Mulish';
		font-style: normal;
		font-weight: 300;
		font-display: swap;
		src: url(/fonts/Mulish-Light.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Mulish';
		font-style: italic;
		font-weight: 300;
		font-display: swap;
		src: url(/fonts/Mulish-LightItalic.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Mulish';
		font-style: normal;
		font-weight: 200;
		font-display: swap;
		src: url(/fonts/Mulish-ExtraLight.woff2) format('woff2');
	}

	@font-face {
		font-family: 'Mulish';
		font-style: italic;
		font-weight: 200;
		font-display: swap;
		src: url(/fonts/Mulish-ExtraLightItalic.woff2) format('woff2');
	}
}
